
	/*button page*/
.buttonPagecontainer{
	position: relative;
	top: 80%;
	margin: auto;
	width: 400px;
	padding: 10px;
	height: 50px;
	justify-content: center;
	z-index: 9999;
}

.buttonPagetitle{
	position: relative;
	text-align: center;
	top: 30%;
	right: 1%;
	width: 100%;
	z-index: 9999;
	height: 0px;
	background: red;
}


/*main page*/
.mainContainer{
	position: relative;
	height: 100vh;
	width: 100hv;
	display: block;
	flex-wrap: wrap;

}

@media only screen and (max-width: 1400px){
	.mainContainer{
		height: 1169px;

	}
}

.video{
	position:relative;
	display: flex;
	float: left;
	height: 480px;
	width: 850px;
	z-index: 100;
}

/*used to hold the video but also to add a "shadow"*/
.video-container{
	position:relative;
	display: flex;
	float: left;
	top: 155px;
	left: 75px;
	height: 480px;
	width: 850px;
	background: lightcoral;
	z-index: 100;
	margin-right: 90px;
}

.elementsRight{
	position: relative;
	float: right;
	height: 480px;
	width: 300px;
	background: lightgoldenrodyellow;
	z-index: 100;

}

.elementsRight-shadow{
	position:relative;
	float: right;
	top: 155px;
	right: 150px;
	height: 480px;
	width: 300px;
	background: lightcoral;
	z-index: 100;
	margin-left: 100px;
}

.description{
	position: relative;
}


/*button css*/
.container{
	position: relative;
	top: -30px;
	left: 15px;
	padding: 10px;
}
#button {
	width: 80%;
	border-radius: 10px;
	height: 50px;
  background: darkcyan;
}

a {
	display: block;
	width: 100%;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	color: rgb(225,  221,  191);
}
a:hover {
    color: black;
    background: lightcoral;
}
/*end button css*/

.emptySpace{
	height: 28px;

}

.titleOfTheVideo{
	position: relative;
	top: 100px;
	float: right;
	width: 58.3%;
	margin-right: 0;
	background-color: rgba(251,251,248, 0.3);
}

.nav{
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: rgba(173, 216, 230, 0.6);
	height: 50px;
	width: 100%;
	z-index: 9999;
}

.profile{
	border-radius: 150px;


}

.profile_box{
	position: relative;
	width: 20%;
	height: 350px;
/*			display: flexbox;*/
/*			justify-content: center;*/
	text-align: center;
	margin: 50px;
}

.profile_container{
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
/*			margin-bottom: 100px;*/
	background: lightcoral;
}


.TeamsTitle{
	margin-left:65px;
}

.footerC{
	position:relative;
	display: flex;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: lightgoldenrodyellow;
	height: 50px;
	width: 100%;
	z-index: 9999;
}



/*eyes*/
.eye-wrapper {
  display: inline-block;
  z-index: -1;		/*to move the eyes behind everything else */
}

/*uses transition to allow the opacity to change in 0.3s*/
.eye-fade {
  vertical-align: top;
  transition: opacity 0.3s;
  opacity: 0;
}

/*allows the eye's opacity to turn to 1 when the hovered over*/
.eye-fade:hover {
  opacity: 1;
}


p {
	font-family: 'Open Sans', sans-serif;
}
body{
    margin:0;
    padding:0;
}

